<div id="rideDetails">
    <div class="orangeTitle">
        <h1 class="titleWords" id="titleDet">{{titleDet}}</h1>
    </div>

    <div id="rideContainer" class="leftPanelContainer">

        <button class="panelButton" id="backButton" ng-click="showIntro()">Back</button>
        <center>
            <div id="rideImgDet">
                <img ng-src="content/images/{{properties.image}}" />
            </div>
        </center>
        <br />
        <div class="BLOCKQUOTE">
            <div>
                <strong>Trip: </strong>
                <div class="inline">{{properties.title}}</div>
                <br />
            </div>

            <div>
                <strong>Created By:</strong>
                <div id="dateDet" class="inline">{{creator}}</div>
                <br />
            </div>

            <div ng-show='updator'>
                <strong>Last Updated By:</strong>
                <div id="dateDet" class="inline">{{updator.display_name}}</div>
                <br />
            </div>

        </div>

        <table class="alerts">
            <tr ng-repeat="field in fields" ng-show="properties[field.key] && field.key !== 'image'">
                <td><strong>{{field.name}}</strong>
                </td>
                <td>{{properties[field.key]}}</td>

            </tr>
        </table>
        </p>

        <div id="panelFooter">
            <button class="panelButton" ng-click="editThisTrip(tripId)">Edit Trip</button>
            <button class="panelButton" ng-click="showIntro()">Main Menu</button>
<!--
            <button class="panelButton"><a href="BikeTrips_bio_c2c.html">Rider Bios</a>
            </button>
            <button class="panelButton" id="photoLink"><a href="{{photoLink}}" target="blank">Photos of Trip</a>
            </button>
-->
        </div>
    </div>
</div>