<div class="container">

    <div class="jumbotron">
        <div class='jumboLeftSide'>
            <h1>Add A Trip!</h1>
            <p class="lead">This is where you can add your own trip to the map.</p>
            </p>
        </div>
        <div class='jumboRightSide'>
            <p>Step 1: Upload Your File</p>
            <p>Step 2: Fill in Trip Details</p>
            <p>Step 3: Submit</p>
        </div>
    </div>

    <tabset>
        <tab heading="Upload Your File">
            <div id='createTripMap'>
                <div>
                    <p>Add a Gpx file to the map by dragging and dropping the file on to the map. </p>
                </div>
                <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-if='showMap'>
                    <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible' geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                </ui-gmap-google-map>
            </div>
        </tab>
        <tab heading="Fill in Trip Details">
            <div class="row marketing">
                <table class="addTripForm">
                    <tr>
                        <td>
                            <h4>Title of the trip</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.titleDet" id="textinput" name="textinput" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Ride image</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.rideImgDet" id="rideImgDet" name="textinput" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Trip description</h4>
                        </td>
                        <td>
                            <textarea ng-model="theForm.tripDet" id="tripDet" name="textarea">default text</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Date of the Trip</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.dateDet" id="textinput" name="dateDet" type="text" placeholder="June 8th - June 14th 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Riders of the Trip</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.ridersDet" id="ridersDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Distance of the Trip</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.distanceDet" id="distanceDet" name="" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Duration of the Trip</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.durationDet" id="durationDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Miles Per Day</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.milePerDet" id="milePerDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total Ascent</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.ascentDet" id="ascentDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total Descent </h4>
                        </td>
                        <td>
                            <input ng-model="theForm.descentDet" id="descentDet" name="descentDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Starting Elevation</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.startElevDet" id="startElevDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Finishing Elevation</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.finElevDet" id="finElevDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Minimum Elevation</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.minElevDet" id="minElevDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Maximum Elevation</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.maxElevDet" id="maxElevDet" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Latitude and Longitude for your Marker</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.latlng" id="latlng" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Zoom</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.zoom" id="zoom" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>KML Links</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.kmlLayers" id="kmlLayers" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Picases Photo Album Link</h4>
                        </td>
                        <td>
                            <input ng-model="theForm.picasaLink" id="picasaLink" name="ridersDet" type="text" placeholder="California 2014" class="input-xlarge">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <button id="login" name="login" class="btn btn-orange" ng-click="userLogin()">Login</button>
                                <button id="submitNewTrip" name="submitNewTrip" class="btn btn-orange" ng-click="submitNewTrip()">Submit</button>
                        </td>
                        <td></td>
                    </tr>

                </table>
            </div>
        </tab>
        <tab heading="Submit">
            <button type='submit' ng-click='submitCreateTrip()' ng-class='{true:"greyed panelButton", false:"panelButton"}[submitDisabled]' ng-disabled='submitDisabled'>Submit</button>
        </tab>
    </tabset>

    <footer class="footer">
        <p>&copy; Your Company Here </p>
    </footer>

</div>