<div class="container">

    <div class="jumbotron">
        <h1>Edit A Trip!</h1>
        <p class="lead">This is where you can edit one of your maps</p>
        </p>
    </div>

    <div class="row marketing">
        <table class="addTripForm">
            <tr ng-repeat="field in fields">
            <td>
                <h4>{{field.name}}</h4>
            </td>
            <td>
                <input ng-model="theForm[field.key]" name="{{field.name}}" id="{{field.key}}" type="text" class="input-xlarge">
            </td>
            </tr>
            <tr>

                <td>
                    <p>
                        <!--                        <button id="login" name="login" class="btn btn-orange" ng-click="retrieveAccessToken()">Login</button>-->
                        <button id="editTrip" name="editTrip" class="btn btn-orange" ng-click="submitEditTrip()">Submit</button>
                        <!--                        <button id="loadEditTrip" name="loadEditTrip" class="btn btn-orange" ng-click="loadEditTrip(18)">Load</button>-->
                        <button id="deleteTrip" name="deleteTrip" class="btn myWarning" ng-click="confirmDeleteTrip(tripId)">Delete</button>

                </td>
                <td></td>
            </tr>

        </table>
    </div>

</div>

<footer class="footer">
    <p>&copy; Company 2014</p>
</footer>

</div>

<!-- /container -->